@media screen and (max-width: 1199px) {
  .row {
    flex-direction: column;
    margin-bottom: 2rem !important;
  }

  .space-between {
    justify-content: unset !important;
    align-items: unset !important;
  }

  .filter-button {
    max-width: 100%;
    width: 100%;
    margin: 5px 0 !important;
  }

  .filter-country-container {
    margin-top: 10px;
  }
}

.filter-country {
  margin-top: 0 !important;
}

.filter-country-container {
  margin-left: 10px;
}
