@media screen and (max-width: 1199px) {
  .row {
    flex-direction: column;
    margin-bottom: 2rem !important;
  }

  .space-between {
    justify-content: unset !important;
    align-items: unset !important;
  }
}
