.ui.header {
  margin-bottom: 0 !important;
}

.col {
  display: flex;
  flex-direction: column;
}

.col.space-between {
  align-content: space-between;
  flex: 1;
  align-self: stretch;
}

.header--icon-btn {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}

.header--global-stats {
  margin-top: 1.2rem;
  padding-bottom: 0.5rem;
  text-align: center;
  padding-top: 70px;
}

.header--chart-btn {
  margin: 8px 0 !important;
}

.header--grid-col {
  padding-bottom: 0;
}

.header--grid {
  padding-bottom: 2rem;
  margin: 0 1rem !important;
  max-width: 980px;
  width: 100%;
}

.header--row {
  margin: 0 !important;
  padding: 4px 2rem;
}

.header--date {
  margin: 4px 0 !important;
  padding-bottom: 8px !important;
}

.header--top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #202020;
}

.header--grid-container {
  margin: 0 auto;
  display: flex;
  flex: 1;
  justify-content: center;
}

@media screen and (max-width: 1223px) {
  .row.flex-horizontal {
    margin-bottom: 8px !important;
  }

  .ui.divider {
    display: none;
  }

  .header--row {
    padding: 4px;
  }

  .header--title {
    margin: 8px 4px !important;
    padding-bottom: 8px !important;
  }
  
  .header--global-stats {
    padding-top: 110px;
  }
}
