.Header {
  margin: 1rem 0;
}

.ui.header {
  margin-bottom: 0 !important;
}

.col {
  display: flex;
  flex-direction: column;
}

.col.space-between {
  align-content: space-between;
  flex: 1;
  align-self: stretch;
}

@media screen and (max-width: 1223px) {
  .Header .space-between {
    margin: 2rem 0 0 !important;
  }

  .row.flex-horizontal {
    margin-bottom: 1rem !important;
  }

  .ui.divider {
    display: none;
  }
}
