.row {
  display: flex !important;
  align-items: center;
  margin: 1rem 0;
}

.flex-horizontal {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.home--load-more-btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.home--container {
  padding-bottom: 70px;
}

html,
body {
  background-color: #f3f0ef !important;
}
